* { padding: 0; margin: 0; outline: 0; }
:root {
    --main-bg: #18191a;
    --main-color: #e4e6eb;
    --sec-bg: #3a3b3c;
    --sec-color: #b0b3b8;
    --grey: #808080;
    /*--primary-color: #1877f2;*/
    --primary-color: #2D88FF;
    --success-color:#28a745;
    --warning-color:#ffc107;
    --danger-color:#dc3545;
    --primary-bg: #b8daff;
    --success-bg: #c3e6cb;
    --warning-bg: #ffeeba;
    --danger-bg: #f5c6cb;
}
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to right, var(--main-bg), var(--sec-bg), var(--main-bg));
    color: var(--main-color);
    text-align: center;
}
a, button {
    text-decoration: none;
    font-weight: normal;
    color: var(--main-color);
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/*#grand {
    z-index: -2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(img/f_main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(35%);
}

#try0 {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-bg);
    filter: blur(1px) opacity(0.8);
}*/

/*::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { border-radius: 10px; }
::-webkit-scrollbar-thumb { background: var(--grey); border-radius: 10px; }*/

html::-webkit-scrollbar { display: none; }
html { -ms-overflow-style: none; }

.main-color-bg { background-color: var(--main-color); }
.sec-color-bg { background-color: var(--sec-color); }
.primary-color-bg { background-color: var(--primary-color); }
.success-color-bg { background-color: var(--success-color); }
.warning-color-bg { background-color: var(--warning-color); }
.danger-color-bg { background-color: var(--danger-color); }

.grey-color { color: var(--grey); }
.main-color { color: var(--main-color); }
.sec-color { color: var(--sec-color); }
.primary-color { color: var(--primary-color); }
.success-color { color: var(--success-color); }
.warning-color { color: var(--warning-color); }
.danger-color { color: var(--danger-color); }

.grey-bg { background-color: var(--grey); }
.main-bg { background-color: var(--main-bg); }
.sec-bg { background-color: var(--sec-bg); }
.primary-bg { background-color: var(--primary-bg); }
.success-bg { background-color: var(--success-bg); }
.warning-bg { background-color: var(--warning-bg); }
.danger-bg { background-color: var(--danger-bg); }

.grey-border { border: 1.5px solid var(--grey); }
.main-border { border: 1.5px solid var(--main-color); }
.sec-border { border: 1.5px solid var(--sec-color); }
.primary-border { border: 1.5px solid var(--primary-color); }
.success-border { border: 1.5px solid var(--success-color); }
.warning-border { border: 1.5px solid var(--warning-color); }
.danger-border { border: 1.5px solid var(--danger-color); }

.m-4 { margin: 4px; } .m-8 { margin: 8px; } .m-12 { margin: 12px; }
.mt-4 { margin-top: 4px; } .mt-8 { margin-top: 8px; } .mt-12 { margin-top: 12px; }
.mr-4 { margin-right: 4px; } .mr-8 { margin-right: 8px; } .mr-12 { margin-right: 12px; }
.mb-4 { margin-bottom: 4px; } .mb-8 { margin-bottom: 8px; } .mb-12 { margin-bottom: 12px; }
.ml-4 { margin-left: 4px; } .ml-8 { margin-left: 8px; } .ml-12 { margin-left: 12px; }

.p-4 { padding: 4px; } .p-8 { padding: 8px; } .p-12 { padding: 12px; }
.pt-4 { padding-top: 4px; } .pt-8 { padding-top: 8px; } .pt-12 { padding-top: 12px; }
.pr-4 { padding-right: 4px; } .pr-8 { padding-right: 8px; } .pr-12 { padding-right: 12px; }
.pb-4 { padding-bottom: 4px; } .pb-8 { padding-bottom: 8px; } .pb-12 { padding-bottom: 12px; }
.pl-4 { padding-left: 4px; } .pl-8 { padding-left: 8px; } .pl-12 { padding-left: 12px; }

.br-5 { border-radius: 5px; }
.br-10 { border-radius: 10px; }
.br-round { border-radius: 2000px; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight: normal; }
.h1, h1 { font-size: 2.5rem; }
.h2, h2 { font-size: 2rem; }
.h3, h3 { font-size: 1.75rem; }
.h4, h4 { font-size: 1.5rem; }
.h5, h5 { font-size: 1.2rem; }
.h6, h6 { font-size: 1rem; }

.bold-text { font-weight: bold; }
.underlined { text-decoration: underline; }
.pointer { cursor: pointer; }

.pos-fixed { position: fixed; }
.pos-absolute { position: absolute; }
.pos-relative { position: relative; }

.row { display: grid; grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }

.row-complex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 0;
    max-width: 400px;
    margin: 0 auto;
}
.col-3 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}
.col-6 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.block-box { display: block; }
.none-box { display: none; }

.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }

.navbar {
    top:0;
    z-index: 99;
    width: 100vw;
    left: 0;
}
#nav-blur {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: opacity(0.8) brightness(80%);
    background: linear-gradient(to right, var(--main-bg), var(--sec-bg), var(--main-bg));

}

#season-chooser { margin: 20px auto; }
#watch-btn { margin: auto; max-width: 350px; }
#des-details img { float: left; }

.season-number { border-bottom: 1px solid var(--sec-bg); width: 98%; }
.season-number span { vertical-align: 50%; }

.episode-number { margin: 20px auto; }
.episode-number span { left: 5px; top: 5px; }
.episode-number details p { border-left: 1.5px solid var(--grey); }

#video-box button.h4 span { vertical-align: 15%; }
#epi-video { width: 100%; }

@media only screen and (min-width: 960px) {
    #sidecar { left: 0; width: 27vw; }
    #epi-video { width: 65vw; }
    /*#try0 { width: 30vw; position: fixed; }*/
    #centercar { right: 0; width: 70.5vw; }
}
@media only screen and (max-width: 851px) { .season-number { width: 40vw; } }
@media only screen and (max-width: 440px) { .season-number { width: 100%; } }
@media only screen and (min-width: 1051px) { .episode-number video { width: 22.5vw; } }
@media only screen and (max-width: 1050px) { .episode-number video { width: 34vw; } }
@media only screen and (max-width: 950px) { .episode-number video { width: 32vw; } }
@media only screen and (max-width: 700px) { .episode-number video { width: 48vw; } }
@media only screen and (max-width: 450px) { .episode-number video { width: 92vw; } }