:root{
    --pink:#e83e8c;
    --orange:#fd7e14;
    --white:#fff;
    --primary:#007bff;
    --success:#28a745;
    --warning:#ffc107;
    --danger:#dc3545;
    --dark:#343a40;
    --black:#000000;
    --color-default:#d9d9d9;
    --mid-low:#a6a6a6;
    --mid-high:#1a1a1a;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
}
*{
    padding:0;
    margin:0;
}
html{
    background:var(--black);
    color:var(--color-default);
}
.navbar-top,.navbar-menu{
    position:fixed;
    z-index:99;
}
.navbar-top{
    backdrop-filter: blur(5px);
    background-color:rgba(63,63,63,0.5);
    width:100vw;
    top:0;
    left:0;
    padding:12px;
}
#friends-top{
    font-weight:bold;
    font-size:30px;
}
.menu-item{
    text-align:center;
    display:inline-block;
    width:32%;
}
a.menu-link{
    font-weight:bold;
    text-decoration:none;
    color:var(--color-default);
}
.container{
    max-width:100vw;
    width:100%;
    margin-right:auto;
    margin-left:auto;
}